<html>
    <head>
        <title>InvestorsWay</title>
    </head>
    <body>
        <div>
            <h1><a href="https://vk.com/investors_way">Investors way</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="https://vk.com/@investors_way-financial-literacyy">О финансовой грамотности</a></h2>
            <p>Стать финансово грамотным без наставника сегодня непросто. Ведущие первого канала рекламируют Форекс, когда-то кандидат в президенты Прохоров "обувает страну" микрозаймами, многие действующие политики доброжелательно отзываются о криптовалютах (к технологии претензий нет, а вот как объект капиталовложений, они могут многих подвести). Атмосфера не очень располагающая. Последствия же не заставляют себя ждать.
            <p>Мне часто вспоминается книга "Путеводитель для путешествующих автостопом по галактике". Рассказ о том, как планету Земля снесли мерзкие существа для строительства межзвездной магистрали, оправдавшись что решение висело в подвале бюро планирования на их далёкой планете долгое время. И если кто-то не удосужился слетать, найти и посмотреть, это его проблемы.</p>
            <p>К сожалению, нужные и важные знания о деньгах не пропагандируют с федеральных каналов. Власть имущим не выгодно учить людей быть финансово грамотными. Они богатеют потому, что бедные глупеют в отношении денег. На постсоветском пространстве это особенно актуально, ведь многие люди ещё живут старыми правилами, надеясь, что о них будет заботиться государство. В действительности же, эти наивные люди не могут ничего скопить из-за инфляции, с которой они не умеют бороться, из-за того что вкладывают деньги в пассивы, которые не приносят дохода, а только каждый месяц тянут деньги из кармана, из-за отсутствия опыта ведения личных балансовых ведомостей и т. д.</p>
            <p>Всё это можно выразить одной мыслью. "Нельзя достойно вести игру, не зная её правил". Если надоело проигрывать, разберитесь хотя бы в правилах, тогда появится шанс на другой исход. Информацию правда придётся собирать чуть ли не по подвалам на чужих планетах.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="https://vk.com/@investors_way-reinvestiruite-dividendy">Реинвестируйте дивиденды!</a></h2>
            <p>Рассмотрим вопрос о дивидендах, которые на первый взгляд выглядят не настолько существенно в процентном соотношении относительно общей инвестированной суммы. Всем, кто размышляет подобным образом, полезно ознакомиться с историей богатого яркими примерами Американского фондового рынка.</p>
            <p>Так, в соответствии с данными профессоров Элроя Димсона, Пола Марша и Майка Стаунтона из Лондонской школы бизнеса, если бы вы инвестировали 1 доллар США в 1900 году и использовали все дивиденды на потребление, то стоимость вашего портфеля акций выросла бы до 2000 года до 198 долларов. Но если бы вы реинвестировали все свои дивиденды, то стоимость вашего портфеля на начало 2000 года составляла бы 16 тыс. долларов! Вне всякого сомнения, дивиденды – это важнейшее условие привлекательности акций.</p>
        </div>
    </body>
</html>
